#root {
    -surface-a0: #1e1e1e;
    -surface-a10: #333333;
    -surface-a20: #494949;
    -surface-a30: #606060;
    -surface-a40: #797979;
    -surface-a50: #929292;

    -primary-a0: #19d8e6;
    -primary-a10: #51dde9;
    -primary-a20: #70e1ec;
    -primary-a30: #8ae6ee;
    -primary-a40: #a0eaf1;
    -primary-a50: #b5eff4;

    -tonal-a0: #242e2f;
    -tonal-a10: #394243;
    -tonal-a20: #4f5758;
    -tonal-a30: #656d6e;
    -tonal-a40: #7d8484;
    -tonal-a50: #969b9c;

    -text-light: #eeeeee;
    -text-dark: #242e2f;
    -text-exception: #ff3f3f;

    -fx-background-color: -surface-a10;

}

#menuBar {
    -fx-background-color: -surface-a20;
}

.switch-button {
    -fx-cursor: hand;
}

.switch-rectangle {
    -fx-fill: -tonal-a10;
    -fx-stroke: -tonal-a50;
}

.switch-circle {
    -fx-fill: -primary-a20;
    -fx-stroke: -tonal-a0;
}

#menuBar .label .text {
    -fx-fill: -text-light;
}

.separator:horizontal .line {
    -fx-border-color: -surface-a30;
}

#menuBar .button {
    -fx-background-color: transparent;
    -fx-background-radius: null;
    -fx-pref-height: 50;
}

#menuBar .button .text {
    -fx-fill: -text-light;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#menuBar .button:hover {
    -fx-background-color: -primary-a20;
    -fx-cursor: hand;
}

#menuBar .button:hover .text {
    -fx-fill: -text-dark;
}

#welcomeScreen .label .text {
    -fx-fill: -text-light;
}

#welcomeMessage {
    -fx-fill: -text-light;
}

#translate .label .text, #analyze .label .text {
    -fx-fill: -text-light;
}

#modeLabel .text {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-radius: 12;
    -fx-background-color: -surface-a20;
    -fx-text-fill: -text-light;
}

.hyperlink .text {
    -fx-fill: -primary-a0;
}

#keySpinner, #keySpinner .increment-arrow-button, #keySpinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

#keySpinner .increment-arrow-button, #keySpinner .decrement-arrow-button {
    -fx-cursor: hand;
}

#keySpinner .increment-arrow-button .increment-arrow, #keySpinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -primary-a0;
    -fx-effect: null;
}

#keySpinner .increment-arrow-button:pressed, #keySpinner .decrement-arrow-button:pressed {
    -fx-background-color: -tonal-a0;
}

#submitButton {
    -fx-font-size: 14;
    -fx-fill: -text-dark;
    -fx-background-color: -primary-a0;
    -fx-background-radius: 18;
    -fx-border-color: -primary-a10;
    -fx-border-radius: 18;
}

#submitButton:hover {
    -fx-background-color: -primary-a30;
    -fx-border-color: -primary-a40;
}

#exceptionText {
    -fx-fill: -text-exception;
}

#resultScreen .text, #resultText, #example {
    -fx-fill: -text-light;
}